<!DOCTYPE html>
<html lang="en">
<head>
    <title>Classification Result</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="col-lg-6 col-sm-6 col-12">
        <div class="jumbotron text-center">
            <h1>Prediction</h1>
        </div>
    </div>
</div>

<div class="container">
    <h2>Image Predicted:</h2>
    <img class="img-responsive" src="{{ url_for('static', filename=filename) }}" height="345">
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Prediction</th>
            <th>Probability</th>
        </tr>
        </thead>
        <tbody>
        {% for p in prediction[0] %}
            <tr>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] * 100 }} %</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>

